# Default ignored files
/../../hr-ai-screening-mvp /.idea/shelf/
/../../hr-ai-screening-mvp /.idea/workspace.xml
# Editor-based HTTP Client requests
/../../hr-ai-screening-mvp /.idea/httpRequests/
